#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0

            bindings = <
                &kp LS(LC(F18)    &kp LS(LC(F19)    &kp LS(LC(F20)
                &kp LS(LC(F13))    LS(LC(F14)    LS(LC(F15)    LS(LC(F16)    LS(LC(F17)
                &kp LC(F13)    &kp LC(F14)    &kp LC(F15)    &kp LC(F16)    &kp LC(F17)
                &kp LS(F13)    &kp LS(F14)    &kp LS(F15)    &kp LS(F16)    &kp LS(F17)
            >;
            sensor-bindings = <&inc_dec_kp LS(F18) LC(F18)    &inc_dec_kp LS(F19) LC(F19)    &inc_dec_kp LS(F20) LC(F20)>;

        };
    };
 };

