/ {
    kscan0: kscan0 {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";
        wakeup-source;

        col-gpios
            = <&nice_nano_v2 8 GPIO_ACTIVE_HIGH>
            , <&nice_nano_v2 7 GPIO_ACTIVE_HIGH>
            , <&nice_nano_v2 6 GPIO_ACTIVE_HIGH>
            , <&nice_nano_v2 5 GPIO_ACTIVE_HIGH>
            , <&nice_nano_v2 4 GPIO_ACTIVE_HIGH>
            ;

        row-gpios
            = <&nice_nano_v2 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&nice_nano_v2 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&nice_nano_v2 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&nice_nano_v2 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;
    };
};

#include <dt-bindings/zmk/matrix_transform.h> // Put this with the other includes at the top of your overlay

/ {
    default_transform: keymap_transform0 {
        compatible = "zmk,matrix-transform";
        columns = <5>; // Length of the "col-gpios" array
        rows = <4>; // Length of the "row-gpios" array
        map = <
        //   Key 1 | Key 2 | Key 3
            RC(8,3) RC(7,3) RC(6,3)
        //   Key 4 | Key 5 | Key 6 | Key 7 | Key 8
            RC(8,2) RC(7,2) RC(6,2) RC(5,2) RC(4,2)
        //   Key 9 | Key 10 | Key 11 | Key 12 | Key 13
            RC(8,0) RC(7,0) RC(6,0) RC(5,0) RC(4,0)
        //   Key 14 | Key 15 | Key 16 | Key 17 | Key 18
            RC(8,1) RC(7,1) RC(6,1) RC(5,1) RC(4,1)
        >;
    };
};

/ {
    default_layout: default_layout {
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";
        transform = <&default_transform>;
        kscan = <&kscan0>;
    };
};

/ {
    chosen {
        zmk,physical-layout = &default_layout;
        // Other chosen items
    };
};
